Checks: "-*, bugprone-*, cppcoreguidelines-*, llvm-header-guard, llvm-include-order, llvm-namespace-comment, misc-*, modernize-*, performance-*, readability-*, -misc-no-recursion, -modernize-return-braced-init-list, -modernize-use-trailing-return-type, -readability-identifier-length"

CheckOptions:
  - key:   readability-identifier-naming.ClassCase
    value: CamelCase
  - key:   readability-identifier-naming.ConstantCase
    value: UPPER_CASE
  - key:   readability-identifier-naming.EnumCase
    value: CamelCase
  - key:   readability-identifier-naming.FunctionCase
    value: lower_case
  - key:   readability-identifier-naming.MemberCase
    value: lower_case
  - key:   readability-identifier-naming.MemberSuffix
    value: _
  - key:   readability-identifier-naming.MethodCase
    value: lower_case
  - key:   readability-identifier-naming.ParameterCase
    value: lower_case
  - key:   readability-identifier-naming.StructCase
    value: CamelCase
  - key:   readability-identifier-naming.TypeTemplateParameterCase
    value: CamelCase
  - key:   readability-identifier-naming.VariableCase
    value: lower_case
  - key:   readability-implicit-bool-conversion.AllowPointerConditions
    value: true
