.gitattributes  export-ignore
.gitignore      export-ignore
.editorconfig   export-ignore

# automatically perform LF normalization
*       text=auto

*.na    text

*.rs   text diff=rust

*.md    text diff=markdown
